.content {
	width: 80%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}
.wrapper {
	display: flex;
	flex-direction: row;
}

h1 {
	text-align: center;
}
aside {
	width: 20%;
	font-size: 0.9em;
}

main {
	width: 80%;
	padding: 10px 0 0 20px;
	border-left: 1px solid #999;
}

/* Buttons 
------------------------------------------------------------------------------  */

button {
	min-width: 60px;
	margin: 10px 10px 10px 0;
	padding: 7px;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-size: 0.7em;
	font-weight: bold;
	cursor: pointer;
}

.create{
	background-color: #74c53a;
}

.sort{
	background-color: #3ab9c5;	
}

.removeAll{
	background-color: #c5463a;	
}

/* Tooltips
------------------------------------------------------------------------------  */

.tooltip {
	display: inline;
	position: relative;
	width: 1px;
	height: 1px;
	margin: 10px;
	padding: 6px 1px;
	border-radius: 100%;
	background-color:#e0e0e0;
	color: #888;
	font-size: 0.4em;
	font-weight: normal;
	cursor: help;
	text-align: left;
}
.tooltip::before {
	content: "";
	opacity: 0;
	position: relative;
	left: 3%;
	top: -15px;
	border-width: 8px 8px 8px 8px;
	border-style: solid;
	border-color: #e0e0e0 transparent transparent transparent;
	transform: rotate(90deg);
}

.tooltip::after {
	content: attr(data-tooltip);
	opacity: 0;
	position: absolute;
	left: 70%;
	top: -45px;
	width: 150px;
	height: 30px;
	border-radius: 6px;
	background-color: #e0e0e0;
	text-align: center;
	font-size: 0.9em;
	font-weight: normal;
}

.tooltip:hover::before, .tooltip:hover::after {
	opacity: 1;
}

span p {
	display: inline;
	position: relative;
	right: 10px;
}
